html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main-block {
  display: flex;
  flex-direction: column; }

.main .spinner-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.button-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .button-block__item {
    margin-bottom: 15px; }
  .button-block__btn {
    cursor: pointer; }
  .button-block__range:first-child {
    margin-bottom: 5px; }
  .button-block__range-from-txt, .button-block__range-to-txt {
    margin-right: 5px; }
  .button-block__range-from-btn, .button-block__range-to-btn {
    cursor: pointer; }
  .button-block__range-from-warning, .button-block__range-to-warning {
    color: #c70000;
    display: block; }
    .button-block__range-from-warning.hide, .button-block__range-to-warning.hide {
      display: none; }
  .button-block__number-txt {
    margin-right: 5px; }
  .button-block__number-btn {
    cursor: pointer; }

.list {
  display: flex;
  padding: 10px;
  flex: 1 1 auto;
  flex-direction: column; }
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin-bottom: 15px; }
    .list-item__name {
      width: 50px;
      height: 50px; }
    .list-item-delete_btn {
      cursor: pointer;
      background: red; }

.page-block {
  display: flex;
  text-align: center;
  justify-content: center; }

.page-view {
  display: flex;
  text-align: center;
  margin: 50px; }
  .page-view-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right; }
    .page-view-info__item {
      margin-bottom: 10px; }
  .page-view-photo {
    margin-right: 50px; }

  body{
    color:red;
  }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6W10sIm1hcHBpbmdzIjoiOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Iiwic291cmNlUm9vdCI6IiJ9*/